**/tsconfig.json
**/.env
**/*.map
**/*.sh
**/*.log
**/*.vsix
**/*.zip
**/*.lock

.git/
.github/
.gitignore
.prettierrc.json
.vscode/
.vscode-test/

**/node_modules/
**/src
**/test

client/package.json
server/package.json
