{
    "extends": "@istanbuljs/nyc-config-typescript",
    "check-coverage": true,
    "branches": 24,
    "lines": 37,
    "functions": 30,
    "statements": 37,
    "all": true,
    "include": [
        "src/**/*.ts"
    ],
    "reporter": [
        "html",
        "lcov",
        "text",
        "text-summary"
    ],
    "report-dir": "coverage"
}