{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "statements": 71,
  "branches": 55,
  "functions": 66,
  "lines": 71,
  "all": true,
  "include": [
    "src/**/*.ts"
  ],
  "reporter": [
    "html",
    "lcov",
    "text",
    "text-summary"
  ],
  "report-dir": "coverage"
}
